.btn {
  background-color: #111;
}

.btn { 
  padding: 0px 0px 0px 0px;
  height: 25px;
  font-size: 10px;
  line-height: 12px;

  border: 0px;
  position: relative;
  background-repeat: repeat-x; 
  color: #eee;  
  cursor: pointer;   
  text-decoration: none;   
  font-style: normal; 
  font: inherit;  
    
  text-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5), -1px 0px 2px rgba(0, 0, 0, 0.5); 

  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;

  box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 1px 0 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 1px 0 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 1px 0 0 rgba(0,0,0,0.5);
  
  /* one image for all states 
  see http://www.alistapart.com/articles/sprites */
  background-image: url(../img/awesome-overlay-sprite.png);
  /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(75, 73, 71)), to(rgb(50, 48, 45)));*/
  /*background: -moz-linear-gradient(#4B4947, #32302D);
  background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));*/
  background-position: 0 0;
  
  /* cross browser inline block hack 
  see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *display: inline !important;
  position: relative;
  
  /* help IE to calm down a bit */
  zoom: 1;

  /* IE only stuff */
  border-bottom: 1px solid transparent\9;
  
  /*disable text selection (Firefox only)*/
  -moz-user-select: none;
}

.btn:first-child {
  margin-left: 8px;
}

.btn.segment {
  margin-left: -4px;
  display: inline-block;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

.btn.segment:first-child {  
  margin-left: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px; 
  -webkit-border-bottom-left-radius: 5px;
}

.btn.segment:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px; 
  -webkit-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px; 
  -webkit-border-bottom-right-radius: 5px;
}

/* hide selection background color */
.btn::selection {
  background: transparent;
}

.btn:hover {
  /*background-position: 0 -50px;*/
  /*border: 1px solid #FFF;*/  
  color: white;  
}

.btn:active { 
  position:relative;  
  padding: 7px 0px 5px 0px;  
  
  background-position: 0 0;
  box-shadow:         inset 1px 2px 3px rgb(0,0,0), 0 1px 0 #6B6967;
  -moz-box-shadow:    inset 1px 2px 3px rgb(0,0,0), 0 1px 0 #6B6967; 
  -webkit-box-shadow: inset 1px 2px 3px rgb(0,0,0), 0 1px 0 #6B6967;
  
  /* IE only stuff */
  border-bottom: 0\9;
  border-top: 1px solid #666\9;
}

.btn.pushed {
  padding: 7px 0px 5px 0px;
  color: black;
  background-color: #fa0;

  text-shadow: 0px 0px 0px;

  -moz-box-shadow:    inset 1px 2px 3px rgb(0,0,0), 0 1px 0 #6B6967; 
  -webkit-box-shadow: inset 1px 2px 3px rgb(0,0,0), 0 1px 0 #6B6967;
  box-shadow:         inset 1px 2px 3px rgb(0,0,0), 0 1px 0 #6B6967;
  
  /* IE only stuff */
  border-bottom: 0\9;
  border-top: 1px solid #666\9;
}

.btn.pushed:hover {
  color: black;
}

.btn.grey   { background-color: #CCCCBB !important; } .btn.grey.pushed    { color: white; } .btn.grey.pushed:hover   { color: white; }
.btn.blue   { background-color: #005AFF !important; } .btn.blue.pushed    { color: white; } .btn.blue.pushed:hover   { color: white; }
.btn.red    { background-color: #E32100 !important; } .btn.red.pushed     { color: white; } .btn.red.pushed:hover    { color: white; }
.btn.green  { background-color: #20A000 !important; } .btn.green.pushed   { color: white; } .btn.green.pushed:hover  { color: white; }
.btn.yellow { background-color: #F0A000 !important; } .btn.yellow.pushed  { color: white; } .btn.yellow.pushed:hover { color: white; }
.btn.orange { background-color: #F87006 !important; } .btn.orange.pushed  { color: white; } .btn.orange.pushed:hover { color: white; }
.btn.purple { background-color: #7D13B6 !important; } .btn.purple.pushed  { color: white; } .btn.purple.pushed:hover { color: white; }
