html, body {
  margin: 0; 
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, times new roman, NanumGothic, sans-serif;    
  text-align: left;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
select {
  border: 1px solid #222;
  line-height: 15px;  
  color: #333;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
label {
  vertical-align: middle;
}
input {
  border: 1px solid #222;
  line-height: 15px;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
div#toolbar {
  margin: 0;
  padding: 10px 8px 10px 8px;  
  position: relative;
  width: 100%;/*2048px;*/
  height: 26px;
  display: block;
  vertical-align: middle;
  font-size: 10px;
  color: #ccc;
  background-color: #3B3937;
  overflow: hidden;
  background: -moz-linear-gradient(#3B3937, #2B2927);
  background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1); 
}
table {
  padding: 0;
  border: 0;  
  border-spacing: 0; 
  border-collapse: collapse;  
  width: 100%;
  height: 100%;
}
td#sidebar {
  margin: 0;
  padding: 4px;  
  top: 0px;
  left: 0px;
  width: 240px;
  height: 100%;  
  position: relative;
  vertical-align: top;
  overflow: hidden;
  font-size: 10px;
  color: #ccc;
  background-color: #3B3937;  
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 1.1);
  -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 1.1);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 1.0);
}
td#main_view {
  margin: 0;
  padding: 0;  
  vertical-align: top;  
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #eee;
}
#canvas {
  margin: 0;
  padding: 0;
  /*left: 0px;
  top: 0px;
  position: absolute;*/
  background-color: #eee;
  cursor: default;
}
#sidebar #editmode_pannel {
  margin: 0;
  padding: 0;  
  position: relative;
  width: 240px;
  height: 280px;
}
#sidebar .pannel {
  padding: 1px;
  display: none;
  /*position: absolute;
  bottom: 0;*/
}
#sidebar .pannel .title {
  line-height: 20px;
  padding-left: 4px;
  background-color: #282828;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#sidebar .pannel ul {
  width: 238px;
  padding: 0;
  margin: 5px 0;
}
#sidebar .pannel ul li {
  list-style: none;  
  width: 100%;
  height: 23px;  
  vertical-align: middle;
  overflow: hidden;
}
#sidebar .pannel ul li label {    
  display: inline-block;
  text-align: right;
  width: 128px;  
  line-height: 23px;
  vertical-align: middle;
  overflow: hidden;
}
#sidebar .pannel input {
  margin: 0;
  padding: 0;
}
#sidebar .pannel input[type="text"] {
  width: 100px;
  height: 18px;
}
#sidebar .pannel input[type="number"] {
  width: 100px;
  height: 18px;
  text-align: right;
}
#sidebar .pannel select {
  margin: 0;
  padding: 0;
  width: 102px;  
  height: 20px;
}
#sidebar .pannel input[readonly] {
  color: #333;
  background-color: rgba(255, 255, 255, 0.6);
}
div#info {
  display: none;
  margin: 0px auto; 
  padding: 2px;
  width: 400px;
  height: 60px;
  left: 0px;
  top: 0px;
  float: left;
  position: absolute;
  vertical-align: top;
  font-family: menlo;
  font-size: 9pt;
  text-align: left;
  color: black;
  pointer-events:none;
  cursor: default;  
}
div#status {  
  display: none;
  margin: 0;
  padding: 2px;
  width: 200px;
  height: 15px;
  left: 250px;
  bottom: 0px;
  float: left;
  text-align: left;
  position: absolute;  
  font-family: menlo;
  font-size: 9pt;    
  color: black;
  pointer-events:none;
  cursor: default;
}
div#settings {
  display: none;
  margin: 0px auto;
  padding: 8px;
  width: 160px;
  left: 0px;
  top: 0px;  
  position: absolute;  
  vertical-align: middle;
  text-align: left;
  font-size: 10px;
  color: #ccc;
  background-color: #333;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 2px rgba(0,0,0,0.5); 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  border-radius: 4px;
  -moz-box-shadow: 3px 3px 6px black;
  -webkit-box-shadow: 3px 3px 6px black;
  box-shadow: 3px 3px 6px black;
}
div#help {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  width: 480px;
  height: 300px;
  font-size: 12px;
  font-family: verdana, sans-serif;
  display: none;
  padding: 12px;
  border-radius: 6px; 
  background: white;
  color: black;
  opacity: 0.9;  
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.5);
}
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url("../img/glyphicons-halflings-white.png");
}
.icon-glass {
  background-position: 0      0;
}
.icon-music {
  background-position: -24px 0;
}
.icon-search {
  background-position: -48px 0;
}
.icon-envelope {
  background-position: -72px 0;
}
.icon-heart {
  background-position: -96px 0;
}
.icon-star {
  background-position: -120px 0;
}
.icon-star-empty {
  background-position: -144px 0;
}
.icon-user {
  background-position: -168px 0;
}
.icon-film {
  background-position: -192px 0;
}
.icon-th-large {
  background-position: -216px 0;
}
.icon-th {
  background-position: -240px 0;
}
.icon-th-list {
  background-position: -264px 0;
}
.icon-ok {
  background-position: -288px 0;
}
.icon-remove {
  background-position: -312px 0;
}
.icon-zoom-in {
  background-position: -336px 0;
}
.icon-zoom-out {
  background-position: -360px 0;
}
.icon-off {
  background-position: -384px 0;
}
.icon-signal {
  background-position: -408px 0;
}
.icon-cog {
  background-position: -432px 0;
}
.icon-trash {
  background-position: -456px 0;
}
.icon-home {
  background-position: 0 -24px;
}
.icon-file {
  background-position: -24px -24px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-road {
  background-position: -72px -24px;
}
.icon-download-alt {
  background-position: -96px -24px;
}
.icon-download {
  background-position: -120px -24px;
}
.icon-upload {
  background-position: -144px -24px;
}
.icon-inbox {
  background-position: -168px -24px;
}
.icon-play-circle {
  background-position: -192px -24px;
}
.icon-repeat {
  background-position: -216px -24px;
}
.icon-refresh {
  background-position: -240px -24px;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-lock {
  background-position: -287px -24px;
}
.icon-flag {
  background-position: -312px -24px;
}
.icon-headphones {
  background-position: -336px -24px;
}
.icon-volume-off {
  background-position: -360px -24px;
}
.icon-volume-down {
  background-position: -384px -24px;
}
.icon-volume-up {
  background-position: -408px -24px;
}
.icon-qrcode {
  background-position: -432px -24px;
}
.icon-barcode {
  background-position: -456px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-book {
  background-position: -48px -48px;
}
.icon-bookmark {
  background-position: -72px -48px;
}
.icon-print {
  background-position: -96px -48px;
}
.icon-camera {
  background-position: -120px -48px;
}
.icon-font {
  background-position: -144px -48px;
}
.icon-bold {
  background-position: -167px -48px;
}
.icon-italic {
  background-position: -192px -48px;
}
.icon-text-height {
  background-position: -216px -48px;
}
.icon-text-width {
  background-position: -240px -48px;
}
.icon-align-left {
  background-position: -264px -48px;
}
.icon-align-center {
  background-position: -288px -48px;
}
.icon-align-right {
  background-position: -312px -48px;
}
.icon-align-justify {
  background-position: -336px -48px;
}
.icon-list {
  background-position: -360px -48px;
}
.icon-indent-left {
  background-position: -384px -48px;
}
.icon-indent-right {
  background-position: -408px -48px;
}
.icon-facetime-video {
  background-position: -432px -48px;
}
.icon-picture {
  background-position: -456px -48px;
}
.icon-pencil {
  background-position: 0 -72px;
}
.icon-map-marker {
  background-position: -24px -72px;
}
.icon-adjust {
  background-position: -48px -72px;
}
.icon-tint {
  background-position: -72px -72px;
}
.icon-edit {
  background-position: -96px -72px;
}
.icon-share {
  background-position: -120px -72px;
}
.icon-check {
  background-position: -144px -72px;
}
.icon-move {
  background-position: -168px -72px;
}
.icon-step-backward {
  background-position: -192px -72px;
}
.icon-fast-backward {
  background-position: -216px -72px;
}
.icon-backward {
  background-position: -240px -72px;
}
.icon-play {
  background-position: -264px -72px;
}
.icon-pause {
  background-position: -288px -72px;
}
.icon-stop {
  background-position: -312px -72px;
}
.icon-forward {
  background-position: -336px -72px;
}
.icon-fast-forward {
  background-position: -360px -72px;
}
.icon-step-forward {
  background-position: -384px -72px;
}
.icon-eject {
  background-position: -408px -72px;
}
.icon-chevron-left {
  background-position: -432px -72px;
}
.icon-chevron-right {
  background-position: -456px -72px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
.icon-remove-sign {
  background-position: -48px -96px;
}
.icon-ok-sign {
  background-position: -72px -96px;
}
.icon-question-sign {
  background-position: -96px -96px;
}
.icon-info-sign {
  background-position: -120px -96px;
}
.icon-screenshot {
  background-position: -144px -96px;
}
.icon-remove-circle {
  background-position: -168px -96px;
}
.icon-ok-circle {
  background-position: -192px -96px;
}
.icon-ban-circle {
  background-position: -216px -96px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-arrow-up {
  background-position: -289px -96px;
}
.icon-arrow-down {
  background-position: -312px -96px;
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-resize-full {
  background-position: -360px -96px;
}
.icon-resize-small {
  background-position: -384px -96px;
}
.icon-plus {
  background-position: -408px -96px;
}
.icon-minus {
  background-position: -433px -96px;
}
.icon-asterisk {
  background-position: -456px -96px;
}
.icon-exclamation-sign {
  background-position: 0 -120px;
}
.icon-gift {
  background-position: -24px -120px;
}
.icon-leaf {
  background-position: -48px -120px;
}
.icon-fire {
  background-position: -72px -120px;
}
.icon-eye-open {
  background-position: -96px -120px;
}
.icon-eye-close {
  background-position: -120px -120px;
}
.icon-warning-sign {
  background-position: -144px -120px;
}
.icon-plane {
  background-position: -168px -120px;
}
.icon-calendar {
  background-position: -192px -120px;
}
.icon-random {
  background-position: -216px -120px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-magnet {
  background-position: -264px -120px;
}
.icon-chevron-up {
  background-position: -288px -120px;
}
.icon-chevron-down {
  background-position: -313px -119px;
}
.icon-retweet {
  background-position: -336px -120px;
}
.icon-shopping-cart {
  background-position: -360px -120px;
}
.icon-folder-close {
  background-position: -384px -120px;
}
.icon-folder-open {
  background-position: -408px -120px;
}
.icon-resize-vertical {
  background-position: -432px -119px;
}
.icon-resize-horizontal {
  background-position: -456px -118px;
}
