/*  
awesome buttons are based on a blog post by ZERB
Read there blog post for more information:
"Super awesome Buttons with CSS3 and RGBA":http://www.zurb.com/article/266/super-awesome-buttons-with-css3-and-rgba 

this buttons are even more awesome, as the need only one color for all three states,
and have an super awesome onclick state
*/

/* set an awesome color for the buttons */
button.awesome, 
input.awesome, 
a.button.awesome {
  background-color: #111;
}
/* Touch the rest at your onw risk. */
button.awesome,
input.awesome,
a.button.awesome { 
  font: inherit;
  background-repeat: repeat-x; 
  color: #eee;
  text-decoration: none; 
  position: relative;
  cursor: pointer; 
  border: 0px;
  font-style: normal; 

  padding: 6px 0px 6px 0px;
  font-size: 10px;
  line-height: 12px;
    
  text-shadow: 0px -1px 1px rgba(0,0,0,0.3), -1px 0px 1px rgba(0,0,0,0.3); 

  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;

  box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 1px 0 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 1px 0 0 rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5), 0 -1px 0 rgba(0,0,0,0.5), 0 1px 0 rgba(0,0,0,0.5), -1px 0 0 rgba(0,0,0,0.5), 1px 0 0 rgba(0,0,0,0.5);

  /*background: -moz-linear-gradient(#4B4947, #32302D);
  background: -webkit-gradient(linear, left top, left bottom, from(#4B4947), to(#32302D));*/
  
  /* one image for all states 
  see http://www.alistapart.com/articles/sprites */
  background-image: url(img/awesome-overlay-sprite.png);
  /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(75, 73, 71)), to(rgb(50, 48, 45)));*/
  background-position: 0 0;
  
  /* cross browser inline block hack 
  see http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *display: inline !important;
  position: relative;
  
  /* help IE to calm down a bit */
  zoom: 1;

   /* IE only stuff */
  border-bottom: 1px solid transparent\9;
  
  /*disable text selection (Firefox only)*/
  -moz-user-select: none;
}

button.awesome:first-child,
input.awesome:first-child,
a.button.awesome:first-child {
  margin-left: 8px;
}

button.awesome.segment,
input.awesome.segment,
a.button.awesome.segment {
  margin-left: -4px;
  display: inline-block;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

button.awesome.segment:first-child,
input.awesome.segment:first-child,
a.button.awesome.segment:first-child {  
  margin-left: 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px; 
  -webkit-border-bottom-left-radius: 5px;
}

button.awesome.segment:last-child,
input.awesome.segment:last-child,
a.button.awesome.segment:last-child {  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-top-right-radius: 5px; 
  -webkit-border-top-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px; 
  -webkit-border-bottom-right-radius: 5px;
}

/* hide selection background color */
.awesome::selection {
  background: transparent;
}

button.awesome:hover,
input.awesome:hover,
a.button.awesome:hover {
  /*background-position: 0 -50px;*/
  /*border: 1px solid #FFF;*/  
  color: white;  
}
button.awesome:active,
input.awesome:active,
a.button.awesome:active { 
  position:relative;  
  padding: 7px 0px 5px 0px;  
  
  background-position: 0 0;
  box-shadow:         inset 1px 2px 4px rgb(0,0,0), 0 1px 0 #6B6967;
  -moz-box-shadow:    inset 1px 2px 4px rgb(0,0,0), 0 1px 0 #6B6967; 
  -webkit-box-shadow: inset 1px 2px 4px rgb(0,0,0), 0 1px 0 #6B6967;
  
  /* IE only stuff */
  border-bottom: 0\9;
  border-top: 1px solid #666\9;
}

.awesome.pushed {
  padding: 7px 0px 5px 0px;
  color: black;
  background-color: #fa0;

  text-shadow: 0px 0px 0px;

  -moz-box-shadow:    inset 1px 2px 4px rgb(0,0,0), 0 1px 0 #6B6967; 
  -webkit-box-shadow: inset 1px 2px 4px rgb(0,0,0), 0 1px 0 #6B6967;
  box-shadow:         inset 1px 2px 4px rgb(0,0,0), 0 1px 0 #6B6967;
  
  /* IE only stuff */
  border-bottom: 0\9;
  border-top: 1px solid #666\9;
}

.awesome.pushed:hover {
  color: black;
}

.awesome.blue   { background-color: #004AFF !important; } .awesome.blue.pushed    {} .awesome.blue.pushed:hover   { color: white;}
.awesome.red    { background-color: #E32100 !important; } .awesome.red.pushed     {} .awesome.red.pushed:hover    { color: white;}
.awesome.green  { background-color: #20A000 !important; } .awesome.green.pushed   {} .awesome.green.pushed:hover  { color: white;}
.awesome.yellow { background-color: #F0A000 !important; } .awesome.yellow.pushed  {} .awesome.yellow.pushed:hover { color: white;}
.awesome.purple { background-color: #6E00EE !important; } .awesome.purple.pushed  {} .awesome.purple.pushed:hover { color: white;}
