html, body {
  margin:0px 0px; padding:0px;
  font-family: Verdana, times new roman, NanumGothic, sans-serif;  
  text-align: center;
}
header {
  padding-top: 0px;
  font-family: Lucida Grande, Verdana, sans-serif;
  text-align: center;
  line-height: 1.5;
  text-shadow: 0.1em 0.1em 0.3em gray;
}
footer {
  padding-top: 0px;  
  font-size: 10pt;
  text-align: center;
  line-height: 1.5;
  color: #404040;
}
div#content {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  vertical-align: middle;  
}
div#screen {
  margin: 0px auto;  
  padding: 0px;
  background-color: white;  
  display: inline-block;
}
div#toolbar {
  vertical-align: top;
  text-align: left;
  font-size: 7pt;  
  margin: 0px auto;
  padding: 5px;
  top: 0px;
  width: 160px;
  color: #FFF;
  background-color: #444;
  position:absolute;
  display: inline-block;
}
div#info {
  margin: 10px auto;  
  padding: 4px;
  font-size: 10pt;  
  width: 960px;
  text-align: left;
  background-color: #eeeeee;
  -webkit-border-radius: .4em;
  -moz-border-radius: .4em;
  border-radius: .4em;
}
div#comments {
  padding: 4px;
  width: 960px;
  margin: 0px auto;
}
div#share {
  padding: 4px;  
  margin: 0px auto;
  margin-top: 5px;
  width: 960px;
}
