html, body {
  margin:0px 0px; padding:0px;
  font-family: Lucida Grande, Verdana, sans-serif;
  text-align: center;
}
div#content {
  margin: 0px auto;
  text-align: center;
  vertical-align: middle;
}
div#screen {
  margin: 0px auto;
  border: 1px dashed #000;
  padding: 0px;
  width: 800px;
  height: 480px;
  background-color: white;
}
div#info {
  margin: 16px auto;
  padding: 10px;
  width: 790px;
  text-align: left;
  background-color: #eeeeee;
  -webkit-border-radius: .4em;
  -moz-border-radius: .4em;
  border-radius: .4em;
}
header {
  padding-top: 0px;
  text-align: center;
  line-height: 1.5;
  text-shadow: 0.1em 0.1em 0.3em gray
}
footer {
  padding-top: 0px;
  text-align: center;
  line-height: 1.5;
  color: #404040;
}
