html, body {
  margin: 0px 0px; 
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Verdana, times new roman, NanumGothic, sans-serif;  
  text-align: center;  
}
header {
  padding-top: 0px;
  line-height: 1.5;
  font-family: Lucida Grande, Verdana, sans-serif;
  text-align: center;  
  text-shadow: 0.1em 0.1em 0.3em gray;
}
footer {
  padding-top: 0px; 
  line-height: 1.5;
  font-size: 10pt;
  text-align: center;  
  color: #404040;
}
canvas {
  margin: 0px 0px;
  padding: 0px; 
  background-color: #eee;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
div#content {
  margin: 0px auto; 
  padding: 0px;
  text-align: center;
  vertical-align: middle;  
}
div#toolbar {
  margin: 0px auto;
  padding: 0px 8px 0px 8px;
  border-bottom: 0px solid #AAA;
  width: 2048px;
  height: 44px;
  text-align: left;
  vertical-align: middle;  
  font-size: 10px;
  background-color: #444;  
  color: white;  
  overflow: hidden;
  /*background: -moz-linear-gradient(#3B3937, #2B2927);
  background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
div#main_view {
  margin: 0px auto; 
  padding: 0px;  
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #eee;
}
div#info {  
  margin: 0px auto; 
  padding: 2px;
  width: 400px;
  top: 0px;
  left: 0px;
  position: absolute;
  vertical-align: top;  
  font-family: menlo;
  font-size: 9pt;  
  text-align: left;
  cursor: default;
}
div#settings {
  margin: 0px auto;
  padding: 8px;
  width: 160px;  
  top: 0px;  
  position: absolute;
  display: none;
  vertical-align: top;
  text-align: left;
  font-size: 10px;  
  background-color: #444;
  color: #FFF;    
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 2px rgba(0,0,0,0.5); 
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;  
  border-radius: 4px;
  box-shadow: 3px 3px 6px black;
  -moz-box-shadow: 3px 3px 6px black;
  -webkit-box-shadow: 3px 3px 6px black;  
}
div#comments {
  margin: 0px auto; 
  padding: 4px;
  width: 960px;
}
div#share {
  margin: 0px auto; 
  margin-top: 5px;
  padding: 4px;    
  width: 960px;
}
